*,
*::before,
*::after {
    box-sizing: border-box;
}


header {
    background-color: pink;
    color: slateblue;
}

.container {
    width: 80vw;
    margin: 25px auto;
    color: black;
}

.box {
    display: block;

    border: 2px solid black;
    float: left;
    width: 31%;
    height: 200px;
    margin: 1%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    line-height: 20px;
    font-size: 20px;

}